@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');

.about-us-container{
    width: 80%;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
}
.about-us-children{
    padding-left: 5px;
    padding-right: 25px;
    width: 50%;
    background-position: center;
}

.about-us-heading{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

.about-us-para{
    font-size: 30px;
}

.mobile-about-us-container{

}