@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');

.about-us-container{
    width: 80%;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
}

.about-us-children{
    padding-left: 5px;
    padding-right: 25px;
    width: 50%;
    background-position: center;
}

.about-us-mobile-children{
    width: 85%;
    background-position: center;
}

.about-us-heading{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: #E3A55E;
    margin-top: 60px;
    margin-bottom: 10px;
}

.about-us-para{
    font-family: 'Poppins', sans-serif;
    color:  #E3A55E;
    font-size: 20px;
}

.mobile-about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.welcomeHeader{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #E3A55E;
}