@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');

.container h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}
.rsvp-button{
    padding: 10px;
}

.mobile-support-text{
    padding-left: 10px;
    padding-right: 10px;
}

.mobile-about-us{
    padding-left: 10px;
    padding-right: 10px;
}