.trash-png{
    width: 25px;
    height: auto;
    padding: 5px;
}

.trash-png:hover {
    width: 25px;
    transition: 0.3s;
    height: auto;
    padding: 5px;
    border-radius: 25%;
    background-color: rgba(255, 0, 0, 0.305);
}

.new-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-text{
    font-size: 25px;
    margin: 10px;
}