@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');

.timer h1{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.mobile-timer{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}