@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');

.mobile-site-title{
    text-decoration: none;
    color: #B5E1E0;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.mobile-link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: auto;
    color: #FBDEC2;
}

.mobile-link::after{
    content: '';
    position: aboslute;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #E3A55E;
    transition: 0.2s ease;
}

.mobile-link:hover::after{
    transform: scaleX(1);
}

.mobile-link::before{
    content: '';
    position: aboslute;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #E3A55E;
    transition: 0.2s ease;
}

.mobile-link:hover::before{
    transform: scaleX(1);
}
