@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap');

.site-title{
    text-decoration: none;
    color: #B5E1E0;
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
}

.link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FBDEC2;
}

.link::after{
    content: '';
    position: aboslute;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #E3A55E;
    transition: 0.4s ease;
}

.link:hover::after{
    transform: scaleX(1);
}

.link::before{
    content: '';
    position: aboslute;
    display: block;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #E3A55E;
    transition: 0.2s ease;
}

.link:hover::before{
    transform: scaleX(1);
}

.nav{
    background-color: #51AFF7;
}

.nav .active .link {

    padding: auto;
    display: block;
    background-color: #E3A55E;
    color: white;
    transition: 0.4s;
}

