.mobile-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
}

.mobile-name-button{
    margin: 5px;
}

.mobile-name-icon{
    width: auto;
    height: 50px;
}

.item-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-name-input{
    min-height: 50px;
    width: 100%;
    font-size: large;
}

.mobile-name-input::placeholder{
    font-size: large;
}

.add-name-btn{
    margin: 10px;
}